@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
 

body{
    background-color: black;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 75px;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  z-index: 100;
height:90px;
}
 
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
}
 
.header:hover::before {
  left: 100%;
}
 
.logo {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
}
 
.navbar a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  margin-left: 35px;
  transition: 0.3s;
}
 
.navbar a:hover {
  color: rgb(85, 84, 84);
}
 
#menu-icon {
  font-size: 36px;
  color: #fff;
  display: none;
}
 
/* BREAKPOINTS */
@media (max-width: 1200px) {
  .header {
    padding: 1.25rem 4%;
      }
}
 
@media (max-width: 1120px) {
  #menu-icon {
    display: block;
  }
 
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0.5rem 4%;
    display: none;
  }
 
  .navbar.active {
    display: block;
  }
 
  .navbar a {
    display: block;
    margin: 1.5rem 0;
    font-size: 12px;
  }
  .logo{
    font-size: 15px;
  }
  .nav-bg {
    position: absolute;
    top: 79px;
    left: 0;
    width: 100%;
    min-height:250px;
    max-height:400px;
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    z-index: 99;
    display: none;
  }
 
  .nav-bg.active {
    display: block;
  }
}