.u-section-1 .u-sheet-1 {
  min-height: 866px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 329px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 454px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 30px 6px;
}

.u-section-1 .u-group-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  height: auto;
  min-height: 192px;
  margin-top: 111px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-1 .u-image-1 {
  width: 150px;
  height: 152px;
  background-image: url("images/68e650f96eb7f31dbcf108c824e810e20ba4ebe9b1d965043a7b4da2557e53b0b14adfdf7be0ce74903563a83dec114645c676f677f22f4127cded_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-1 .u-group-elements-1 {
  width: 203px;
  height: auto;
  min-height: 60px;
  margin: 51px auto 0 27px;
}

.u-section-1 .u-text-1 {
  font-size: 1.625rem;
  font-weight: 700;
  margin: 0 1px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-1 .u-layout-wrap-2 {
  width: 329px;
  margin: -454px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 465px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-1 .u-group-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  height: auto;
  min-height: 192px;
  margin-top: 131px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-1 .u-image-2 {
  width: 150px;
  height: 152px;
  background-image: url("https://pixabay.com/get/g0f62f6b5f168e650f96eb7f31dbcf108c824e810e20ba4ebe9b1d965043a7b4da2557e53b0b14adfdf7be0ce74903563a83dec114645c676f677f22f4127cded_1280.jpg");
  margin: 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 10px;
}

.u-section-1 .u-group-elements-2 {
  width: 203px;
  height: auto;
  min-height: 62px;
  margin: 50px 33px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.625rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  margin: 2px auto 0;
}

.u-section-1 .u-layout-wrap-3 {
  width: 329px;
  margin: -454px 0 0 auto;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 470px;
}

.u-section-1 .u-container-layout-7 {
  padding: 6px 30px;
}

.u-section-1 .u-group-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  height: auto;
  min-height: 191px;
  margin-top: 116px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px 30px;
}

.u-section-1 .u-image-3 {
  width: 150px;
  height: 152px;
  background-image: url("https://pixabay.com/get/g0f62f6b5f168e650f96eb7f31dbcf108c824e810e20ba4ebe9b1d965043a7b4da2557e53b0b14adfdf7be0ce74903563a83dec114645c676f677f22f4127cded_1280.jpg");
  margin: 0 auto;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 10px;
}

.u-section-1 .u-group-elements-3 {
  width: 203px;
  height: auto;
  min-height: 62px;
  margin: 50px 29px 0 37px;
}

.u-section-1 .u-text-5 {
  font-size: 1.625rem;
  font-weight: 700;
  margin: 0 auto 0 4px;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  margin: 2px -2px 0 0;
}

.u-section-1 .u-group-elements-4 {
  min-height: 91px;
  margin-top: 89px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: normal;
  font-size: 1rem;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 755px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 327px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 494px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-group-1 {
    min-height: 279px;
    margin-top: 60px;
    height: auto;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: -499px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 498px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 4px;
  }

  .u-section-1 .u-group-3 {
    min-height: 279px;
    width: 269px;
    margin-top: 75px;
    margin-right: 27px;
    margin-left: auto;
    height: auto;
  }

  .u-section-1 .u-group-elements-2 {
    margin: 51px auto -2px;
  }

  .u-section-1 .u-layout-wrap-3 {
    margin-top: -498px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 499px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 29px;
  }

  .u-section-1 .u-group-5 {
    min-height: 279px;
    margin-top: 80px;
    height: auto;
  }

  .u-section-1 .u-group-elements-3 {
    width: 206px;
    margin: 49px auto -6px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-group-elements-4 {
    margin-top: 105px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 229px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 388px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-group-1 {
    min-height: 242px;
    margin-top: 21px;
  }

  .u-section-1 .u-image-1 {
    width: 120px;
    height: 122px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 178px;
    min-height: 78px;
    margin-top: 35px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 228px;
    margin-top: -400px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 452px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 1px;
  }

  .u-section-1 .u-group-3 {
    min-height: 242px;
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    width: 119px;
    height: 120px;
  }

  .u-section-1 .u-group-elements-2 {
    width: 162px;
    min-height: 80px;
    margin-top: 35px;
    margin-bottom: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 228px;
    margin-top: -452px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 411px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-group-5 {
    min-height: 242px;
    margin-top: 41px;
  }

  .u-section-1 .u-image-3 {
    width: 119px;
    height: 120px;
  }

  .u-section-1 .u-group-elements-3 {
    min-height: 84px;
    width: 183px;
    margin-top: 34px;
    margin-bottom: 0;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.25rem;
    width: auto;
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }

  .u-section-1 .u-group-elements-4 {
    margin-top: 74px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1441px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 300px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 377px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-group-1 {
    width: 270px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-elements-1 {
    min-height: 75px;
    margin-top: 21px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 300px;
    margin-top: 19px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 398px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
  }

  .u-section-1 .u-group-3 {
    width: 270px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-elements-2 {
    min-height: 77px;
    margin-top: 43px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 300px;
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 401px;
  }

  .u-section-1 .u-group-5 {
    width: 270px;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-elements-3 {
    min-height: 52px;
    margin-top: 51px;
    margin-right: 52px;
    margin-bottom: -12px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-1 .u-group-elements-4 {
    margin-top: 95px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1362px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 358px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: 15px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 362px;
  }

  .u-section-1 .u-group-elements-2 {
    margin-top: 17px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 369px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 0;
  }

  .u-section-1 .u-group-elements-3 {
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-1 .u-group-elements-4 {
    margin-top: 69px;
    min-height: 117px;
  }
}